app = "15cm-linkleaner"
primary_region = "fra"
kill_signal = "SIGINT"
kill_timeout = "5s"

[build]
image = "ghcr.io/msfjarvis/linkleaner@sha256:0b034e0fee6e725e6ac3d00261136ba285bbbba35bb58f906e060cf34e2da33b"
